.article {
  position: relative;
  padding-top: 237px;

  &::before {
    content: '';
    position: absolute;
    width: 960px;
    height: 960px;
    top: -274.41px;
    right: -298.88px;
    background-color: #FCF4E5;
    background-blend-mode: overlay;
    mix-blend-mode: darken;
    border-radius: 196px;
    transform: rotate(-15deg);
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    width: 960px;
    height: 960px;
    left: -15%;
    top: 8%;
    background: #E5F6FC;
    background-blend-mode: overlay;
    mix-blend-mode: darken;
    border-radius: 196px;
    transform: rotate(-15deg);
    z-index: -1;
  }


  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
