.block {
  margin-bottom: clamp(100px, 13.889vw, 200px);

  &__wrapp {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 5.04vw, 50px);
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;

    @media (max-width: 576px) {
      grid-template-columns: 100%;
      grid-gap: 30px;
    }
  }

  &__slider {
    width: 100vw;

    &--design {
      width: 100%;

      @media (max-width: 1240px) {
        width: 100vw;
      }
    }
  }

  &__slider-slide {
    max-width: clamp(265px, 40.323vw, 400px);
    width: 100%;

    &--small {
      max-width: 296px;
    }
  }

  &__slider-controls {
    @media (max-width: 576px) {
      display: none;
    }
  }

  &__info-head {
    display: flex;
    align-items: center;
    grid-gap: 44px;
  }

  &__products-count {
    font-size: 14px;
    line-height: 143%;
    font-weight: 600;
    color: var(--color-heavy-rain);
  }
}
