.breadcrumbs {
  margin-bottom: 12px;

  &__wrapp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 5px 30px;
    justify-content: flex-start;
    user-select: none;
    font-size: 17px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--color-breadcrumbs);


    @media (max-width: 960px) {
      justify-content: center;
    }
  }

  &__prev {
    position: relative;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--breadcrumbs-arrow);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      right: -25px;
      top: 58%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &--first::before {
      display: none;
    }
  }

  &__current {
    white-space: nowrap;
  }
}
