.breadcrumbs {
  margin-bottom: 15px;

  &__wrapp {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 10px 40px;
    justify-content: flex-start;
    user-select: none;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--color-breadcrumbs);
  }


  &__prev {
    position: relative;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--breadcrumbs-arrow);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      right: -35px;
      top: 65%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &--first::before {
      display: none;
    }
  }

  &__current {
    white-space: nowrap;
  }
}
