.download {
  margin: 56px 0;
  width: 100%;
  padding: 54px 64px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 20px;
  background-color: var(--color-purple);
  border-radius: 24px;
  color: var(--color-white);

  @media (max-width: 1280px) {
    width: 100vw;
    border-radius: 0;
  }

  &__title {
    margin-bottom: 0;
    text-align: center;
  }

  &__descr {
    max-width: 850px;
  }
}
