.header {
  position: absolute;
  width: 100%;
  padding: 20px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;

  @media (max-width: 576px) {
    padding: 48px 24px;
  }

  &__nav-list {
    @media (max-width: 769px) {
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 24px;

      a {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
}



