.header {
  &__inner {
    position: relative;
    padding: 38px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 37px;

    @media (max-width: 1240px) {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (max-width: 769px) {
      padding: 19px 20px;
    }
  }

  &__logo {
    width: clamp(72px, 13.134vw, 101px);
    height: clamp(17px, 3.121vw, 24px);

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 769px) {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__nav {
    @media (max-width: 1240px) {
      max-width: 100%;
      order: 2;
    }

    @media (max-width: 769px) {
      display: none;
    }
  }

  &__search {
    @media (max-width: 1240px) {
      flex-grow: 1;
    }

    @media (max-width: 769px) {
      display: none;
    }
  }

  &__icons {
    @media (max-width: 1240px) {
      order: 1;
    }

    @media (max-width: 769px) {
      grid-gap: 8px;
    }
  }
}



