.posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: clamp(48px, 6.667vw, 64px);
  padding-bottom: 72px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px 40px;

    @media (max-width: 1279px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 769px) {
      grid-template-columns: 100%;
    }
  }

  &__more {
    max-width: 320px;
    width: 100%;
    padding: 22px 0;
    // border: 2px solid var(--color-border);
    background-color: var(--color-border);
    border-radius: 11px;
    font-family: var(--font-family-gothampro);
    font-size: 21px;
    line-height: 24px;
    font-weight: 800;
    transition: all 0.4s ease;

    &:hover,
    &:active {
      background-color: var(--color-purple);
      color: var(--color-white);
    }
  }

  &__title {
    margin: 0;
  }
}
