.search {
  max-width: 400px;
  width: 100%;

  @media (max-width: 1240px) {
    max-width: initial;
    width: auto;
  }

  &__label {
    display: flex;
    height: 44px;
    background-color: var(--color-gray);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    grid-gap: 16px;
  }

  &__input {
    color: var(--color-heavy-rain);
    background-color: transparent;

    &::placeholder {
      font-weight: 700;
    }
  }

  &__btn {
    position: relative;
    z-index: 5;
    svg {
      fill: var(--color-heavy-rain);
    }
  }
}
