.shop {
  margin-bottom: 120px;

  &__wrapp {
    display: grid;
    grid-template-columns: 296px auto;
    grid-gap: clamp(60px, 8.333vw, 120px);

    @media (max-width: 992px) {
      grid-template-columns: 100%;
      grid-gap: clamp(20px, 3.024vw, 30px);
    }
  }

  &__info-head {
    margin-bottom: clamp(30px, 3.629vw, 45px);
    display: flex;
    align-items: center;
    grid-gap: 44px;
  }

  &__sorting {
    margin-bottom: 45px;
    display: flex;
    align-items: center;
    grid-gap: 20px;

    @media all and (max-width: 992px) {
      justify-content: space-between;
    }
  }

  &__products {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: clamp(40px, 6.048vw, 60px) 16px;

    @media (max-width: 1440px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 576px) {
      grid-template-columns: 100%;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;
    grid-gap: 12px;
  }

  &__pagination-list {
    display: flex;
    align-items: center;
    grid-gap: 8px;
  }

  &__pagination-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 60px;
    transition: all 0.4s ease;

    &:hover,
    &:active {
      color: #82837F;
    }

    &--active {
      background-color:#E9E9E9;
      color: #82837F;
    }
  }

  &__pagination-nav {
    display: flex;
    align-items: center;
  }

  &__aside {
    @media (max-width: 992px) {
      margin-bottom: 20px;
    }
  }


  &__sort {
    position: relative;
  }

  &__sort-header {
    width: 210px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 26px;
    padding: 10px 16px;
    background-color: var(--color-gray);
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
  }

  &__sort-body {
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 10px;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 20px;
    border-radius: 10px;
    background-color: var(--color-white);
    z-index: -1;
    opacity: 0;
    visibility: visible;
    transition: all 0.1s ease-in-out;
  }

  &__sort-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
  }

  &__aside-inner {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
    padding: 20px;
    background-color: var(--color-gray);

    @media all and (max-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding: 0;
      background-color: transparent;
    }
  }

  &__filters-head {
    @media all and (min-width: 993px) {
      display: none;
    }
  }

  &__filters {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__filter {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
  }



  &__filter-header {
    display: flex;
    align-items: center;
    grid-gap: 20px;

    svg {
      display: none;
    }

    @media all and (max-width: 992px) {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      grid-gap: 26px;
      padding: 10px 16px;
      background-color: var(--color-gray);
      border-radius: 30px;
      transition: all 0.1s ease-in-out;

      cursor: pointer;
      svg {
        display: block;
      }
    }
  }

  &__filter-body {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;

    @media (max-width: 992px) {
      display: none;
      position: absolute;
      right: 0;
      padding: 10px 16px;
      width: max-content;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      grid-gap: 20px;
      border-radius: 10px;
      background-color: var(--color-white);
      z-index: -1;
      opacity: 0;
      visibility: visible;
      transition: all 0.1s ease-in-out;
    }
  }

  &__filter-item {
    cursor: pointer;
  }

  &__alert {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 30px;
    transition: all 0.4s ease;

    &.active {
      opacity: 0;
      visibility: hidden;
      margin-bottom: 0;
    }
  }

  &__alert-text {
    position: relative;
    padding-left: 40px;
    font-weight: 700;

    a {
      text-decoration: underline;
    }

    span {
      font-weight: 400;
      text-decoration: underline;
      color: var(--color-dark-charcoal);
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background-image: var(--add-basket-icon);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  &__alert-close {
    cursor: pointer;
  }
}
