.side-panel {
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-dark-gray);
  transition: all 0.4s ease;

  &__close {
    position: absolute;
    display: flex;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;

    svg {
      stroke: var(--color-light-grey);
    }
  }
}
