.sticky {
  position: fixed;
  bottom: 48px;
  right: 48px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-gap: 77px;
  // z-index: 10;
  z-index: 8;

  @media (max-width: 576px) {
    bottom: 0;
    left: 0;
    width: 100vw;
    align-items: center;
    grid-gap: 22px;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 12px;

    @media (max-width: 576px) {
      flex-direction: row;
    }
  }

  &__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--color-white);
    border: 2px solid var(--color-black);
    transition: all 0.4s ease;

    svg {
      transition: all 0.4s ease;
      fill: var(--color-black);
    }

    &:hover {
      background-color: var(--color-black);

      svg {
        fill: var(--color-white);
      }
    }

    @media (max-width: 576px) {
      width: 48px;
      height: 48px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    grid-gap: 12px;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease;

    &.hide {
      opacity: 0;
      visibility: hidden;

      @media (max-width: 991px) {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__app {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
    border-radius: 12px;

    @media (max-width: 576px) {
      width: 100vw;
      border-radius: 0;
      // padding-bottom: 24px;
    }
  }

  &__qr {
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 576px) {
      display: none;
    }
  }
}
