.visionary {
  margin-bottom: clamp(100px, 13.889vw, 200px);

  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    grid-gap: clamp(60px, 8.333vw, 120px);

    @media (max-width: 992px) {
      grid-template-columns: 100%;
    }
  }

  &__info-title {
    font-family: var(--font-family-mariupol);
    font-size: clamp(36px, 5.847vw, 58px);
    line-height: clamp(36px, 6.667vw, 96px);
    font-weight: 700;
    color: var(--color-dark-gray);

    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
  }

  &__banner {
    margin-left: -104px;
    max-height: 792px;
    height: 100%;

    picture,
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 992px) {
      margin-left: 0;
    }
  }

  &__info {
    max-width: 504px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-gap: 20px;

    @media (max-width: 992px) {
      max-width: 100%;
    }
  }

  &__info-descr {
    margin-bottom: clamp(20px, 3.024vw, 30px);
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
  }

  &__text {
    color: var(--color-dark-gray);
  }
}
