<footer>
  <div class="container">
    <div class="footer">
      <div class="footer__links">
        <a class="footer__logo logo" href="#">
          <svg width='66' height='66'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
          <span>Phontu</span>
        </a>

        <div class="footer__links-download">
          <a class="footer__qr sticky__qr" href="#">
            <svg width='64' height='64'>
            <use href='img/sprite/sprite.svg#qr-code'></use>
            </svg>
          </a>

          <a class="footer__download sticky__app" href="#">
            <svg width='192' height='64'>
              <use href='img/sprite/sprite.svg#app-store'></use>
            </svg>
          </a>
        </div>
      </div>


      <nav class="footer__nav nav">
        <ul class="footer__nav-list nav__list">
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Blog</a>
          </li>
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Privacy</a>
          </li>
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Terms</a>
          </li>
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Support</a>
          </li>
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Download</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

