<footer>
  <div class="container">
    <div class="footer">
      <a class="logo" href="#">
        <svg width='66' height='66'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
        <span>Phontu</span>
      </a>

      <nav class="footer__nav nav">
        <ul class="nav__list">
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Blog</a>
          </li>
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Privacy</a>
          </li>
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Terms</a>
          </li>
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Support</a>
          </li>
          <li class="nav__list-item">
            <a  class="nav__list-link" href="#">Download</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>

