<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <link rel="canonical" href="#" />
  <title>Phontu</title>
  <meta property="og:type" content="article">
  <meta property="og:title" content="content">
  <meta property="og:description" content="content">
  <meta property="article:published_time" content="2019-07-19T08:42:31+00:00">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="content">
  <meta name="twitter:description" content="content">
  <meta name="facebook:card" content="summary">
  <meta name="facebook:title" content="content">
  <meta name="facebook:description" content="content">
  <meta property="og:video" content="https://example.com/movie.swf" />
  <meta property="og:video:secure_url" content="https://secure.example.com/movie.swf" />
  <meta property="og:video:type" content="application/x-shockwave-flash" />
  <meta property="og:video:width" content="400" />
  <meta property="og:video:height" content="300" />


  <link rel="preload" href="fonts/Futura-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Futura-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SFProText-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/SFProText-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
