<header class="header">
  <a class="logo" href="#">
    <svg width='66' height='66'>
      <use href='img/sprite/sprite.svg#logo'></use>
    </svg>
    <span>Phontu</span>
  </a>

  <nav class="header__nav nav">
    <ul class="nav__list">
      <li class="nav__list-item">
        <a  class="nav__list-link" href="#">Blog</a>
      </li>
      <li class="nav__list-item">
        <a  class="nav__list-link" href="#">Privacy</a>
      </li>
      <li class="nav__list-item">
        <a  class="nav__list-link" href="#">Terms</a>
      </li>
      <li class="nav__list-item">
        <a  class="nav__list-link" href="#">Support</a>
      </li>
      <li class="nav__list-item">
        <a  class="nav__list-link" href="#">Download</a>
      </li>
    </ul>
  </nav>

  <div class="burger">
    <span></span>
    <span></span>
  </div>

  <div class="mobile">
    <div class="mobile__menu">
      <a href="#">
        <svg width='192' height='64'>
        <use href='img/sprite/sprite.svg#app-store'></use>
        </svg>
      </a>
    </div>
  </div>
</header>
