<div class="modal">
  <div class="modal__container" data-animation="fade" data-speed="300" data-target="subscribe">
    <div class="modal__wrapper modal__wrapper-subscribe">
      <div class="modal__close">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#delete'></use>
        </svg>
      </div>

      <div class="modal__subscribe subscribe">
        <p class="subscribe__title">Підпишіться на розсилку</p>

        <p class="subscribe__text">Дізнавайтесь першими про акції та новинки від видавництва ArtHuss</p>

        <form class="subscribe__form">
          <label class="subscribe__label">
            <input class="subscribe__email" type="text" placeholder="Email">
            <button class="subscribe__btn btn btn--subscribe">Підписатись</button>
          </label>
        </form>
      </div>
    </div>
  </div>

  <div class="modal__container" data-animation="fade" data-speed="300" data-target="product">
    <div class="modal__wrapper modal__wrapper-product">
      <div class="modal__close">
        <svg width='24' height='24'>
          <use href='img/sprite/sprite.svg#delete'></use>
        </svg>
      </div>

      <div class="modal__product">
        <div class="modal__product-head">
          <div class="modal__product-preview">
            <picture>
              <source type='image/webp' srcset='img/card/card4.webp'>
              <img width='102' height='127' src='img/card/card4.png' alt=''>
            </picture>
          </div>

          <div class="modal__product-info">
            <div class="modal__product-title">Мистецтво кольору: Суб’єктивний досвід і об’єктивне пізнання як шлях до мистецтва</div>
            <div class="modal__product-price">340 грн</div>
          </div>
        </div>

        <div class="modal__product-slider swiper-container">
          <div class="modal__slider-wrapper swiper-wrapper">
            <div class="modal__slider-slide swiper-slide">
              <div class="modal__product-image">
                <picture>
                  <source type='image/webp' srcset='img/product/product-image1.webp'>
                  <img width='359' height='514' src='img/product/product-image1.png' alt=''>
                </picture>
              </div>
            </div>
            <div class="modal__slider-slide swiper-slide">
              <div class="modal__product-image">
                <picture>
                  <source type='image/webp' srcset='img/product/product-image2.webp'>
                  <img width='359' height='514' src='img/product/product-image2.png' alt=''>
                </picture>
              </div>
            </div>

            <div class="modal__slider-slide swiper-slide">
              <div class="modal__product-image">
                <picture>
                  <source type='image/webp' srcset='img/product/product-image3.webp'>
                  <img width='359' height='514' src='img/product/product-image3.png' alt=''>
                </picture>
              </div>
            </div>
            <div class="modal__slider-slide swiper-slide">
              <div class="modal__product-image">
                <picture>
                  <source type='image/webp' srcset='img/product/product-image4.webp'>
                  <img width='359' height='514' src='img/product/product-image4.png' alt=''>
                </picture>
              </div>
            </div>

            <div class="modal__slider-slide swiper-slide">
              <div class="modal__product-image">
                <picture>
                  <source type='image/webp' srcset='img/product/product-image5.webp'>
                  <img width='359' height='514' src='img/product/product-image5.png' alt=''>
                </picture>
              </div>
            </div>
            <div class="modal__slider-slide swiper-slide">
              <div class="modal__product-image">
                <picture>
                  <source type='image/webp' srcset='img/product/product-image6.webp'>
                  <img width='359' height='514' src='img/product/product-image6.png' alt=''>
                </picture>
              </div>
            </div>

            <div class="modal__slider-slide swiper-slide">
              <div class="modal__product-image">
                <picture>
                  <source type='image/webp' srcset='img/product/product-image7.webp'>
                  <img width='359' height='514' src='img/product/product-image7.png' alt=''>
                </picture>
              </div>
            </div>
            <div class="modal__slider-slide swiper-slide">
              <div class="modal__product-image">
                <picture>
                  <source type='image/webp' srcset='img/product/product-image8.webp'>
                  <img width='359' height='514' src='img/product/product-image8.png' alt=''>
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
