.logo {
  position: relative;
  display: flex;
  align-items: center;
  grid-gap: 12px;
  font-family: var(--font-family-futura);
  font-size: clamp(21px, 4.161vw, 32px);
  line-height: clamp(26px, 4.941vw, 38px);
  font-weight: 700;
  color: var(--color-black);
  z-index: 20;

  svg {
    width: clamp(48px, 9.363vw, 72px);
    height: clamp(48px, 9.363vw, 72px);
  }
}
