.nav {
  max-width: 550px;
  width: 100%;
  flex-shrink: 0;

  // @media (max-width: 1240px) {
  //   max-width: 100%;
  //   order: 2;
  // }

  &__list {
    display: flex;
    align-items: center;
    grid-gap: 20px;

    @media (max-width: 1240px) {
      width: 100%;
      justify-content: space-between;
    }
  }
}
