.post {
  display: flex;
  flex-direction: column;
  grid-gap: 25px;

  &__image {
    display: flex;

    picture,
    img {
      border-radius: 24px;
    }
  }

  &__details {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    grid-gap: 14px;
    color: rgba(0, 0, 0, 0.48);
  }

  &__title {
    margin-bottom: 20px;
    font-family: var(--font-family-futura);
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    transition: all 0.4s ease;

    &:hover,
    &:active {
      color: var(--color-purple);
    }
  }

  &__descr {
    color: rgba(0, 0, 0, 0.48);
  }

  &__tag {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -8px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.48);
    }
  }

  &__image {
    display: flex;

    picture,
    img {
      width: 100%;
    }
  }
}

