.search {
  position: relative;
  max-width: 360px;
  width: 100%;

  &__label {
    height: 56px;
    width: 100%;
    border: 2px solid var(--color-black);
    border-radius: 28px;

    &::before {
      content: '';
      position: absolute;
      background-image: var(--search-icon);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);

    }
  }

  &__input {
    // position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 52px;
    background-color: transparent;
    // z-index: 2;

    &::placeholder {
      font-family: var(--font-family-futura);
      font-size: 21px;
      color: rgba(0, 0, 0, 0.48);
    }
  }
}
