.tags {
  display: flex;
  align-items: center;
  grid-gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media (max-width: 812px) {
    width: 100vw;
    margin-left: 60px;
    padding-right: 100px;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    grid-gap: 10px;

    flex-direction: row;
  }

  @media (max-width: 576px) {
    margin-left: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__btn {
    flex-shrink: 0;
    padding: 13px 32px 15px;
    border-radius: 15px;
    background-color: var(--color-border);
    font-family: var(--font-family-gothampro);
    font-size: clamp(17px, 1.641vw, 21px);
    line-height: 28px;
    font-weight: 800;
    transition: all 0.4s ease;
    cursor: pointer;

    &:hover {
      color: var(--color-white);
      background-color: var(--color-purple);
    }

    &.active {
      color: var(--color-white);
      background-color: var(--color-purple);
    }

    &.hide {
      display: none;

      @media (max-width: 812px) {
        display: flex;
      }
    }
  }
  &__head {
    display: flex;
    align-items: center;
    grid-gap: 8px;

    .tags__btn:last-child {
      display: block;

      @media (max-width: 812px) {
        display: none;
      }
    }

    @media (max-width: 812px) {
      margin-right: 40px;
      width: fit-content;
    }
  }

  &__more {
    display: block;
  }

  &::-webkit-scrollbar {
    height: 0;
  }

  &__bot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 8px;

    @media (max-width: 812px) {
      justify-content: flex-start;
    }
  }
}
