.terms {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 14px;
    background-color: var(--color-dark-gray);

    @media (max-width: 769px) {
      display: none;
    }
  }
}
