@mixin font-face($font-family, $url, $weight, $style) {
  @font-face {
    font-family: "#{$font-family}";
    src: url('../fonts/#{$url}.woff2') format("woff2"),
         url('../fonts/#{$url}.woff') format("woff");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@include font-face("Futura-Bold", "../fonts/Futura-Bold", 700, normal);
@include font-face("SFProText", "../fonts/SFProText-Regular", 400, normal);
@include font-face("SFProText", "../fonts/SFProText-Bold", 700, normal);






