:root {
  /* -- Fonts --*/
  --font-family-inter: "Inter", sans-serif; // var(--font-family-inter);
  --font-family-mariupol: "Mariupol", sans-serif; // var(--font-family-mariupol);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);

  --color-bg: #DFDFDF; // var(--color-bg);



  --color-gray: #E9E9E9; // var(--color-gray);
  --color-dark-gray: #222222; // var(--color-dark-gray);
  --color-dark-charcoal: #333333; // var(--color-dark-charcoal);
  --color-light-grey: #f7f7f7; // var(--color-light-grey);
  --color-heavy-rain: #82837F; // var(--color-heavy-rain);





}








