:root {
  /* -- Fonts --*/
  --font-family-futura: "Futura", sans-serif; // var(--font-family-futura);
  --font-family-sfpro: "SFProText", sans-serif; // var(--font-family-sfpro);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);
  --color-purple: #A262DB; // var(--color-purple);

  --color-breadcrumbs: #6a9aad; // var(--color-breadcrumbs);






}








