:root {
  /* -- Fonts --*/
  --font-family-gothampro: "GothamPro", sans-serif; // var(--font-family-gothampro);

  /* -- Colors --*/
  --color-black: #000000; // var(--color-black);
  --color-white: #ffffff; // var(--color-white);
  --color-purple: #C45EB7; // var(--color-purple);
  --color-blue: #4FA0DA; // var(--color-blue);

  --color-breadcrumbs: #6a9aad; // var(--color-breadcrumbs);
  --color-line: #D8D8D8; // var(--color-line);
  --color-border: #F5F5F5; // var(--color-border);






}








